body {
  margin: 0;
  font-family: Georgia, serif;
  background: white;
  color: #111;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 25px 50px;
  border-bottom: 1px solid #feee;
}

.logo {
  font-weight: bold;
  letter-spacing: 2px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #111;
}

nav a:hover {
  color: goldenrod;
}

.hero {
  height: 90vh;
   background: url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0") center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  background: rgba(255,255,255,0.85);
  padding: 40px;
  text-align: center;
}

.intro {
  max-width: 800px;
  margin: auto;
  padding: 60px;
  text-align: center;
  line-height: 1.8;
}

.section {
  padding: 60px;
  text-align: center;
}

.lux-card {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
  align-items: center;
}

.lux-card img {
  width: 50%;
  height: 300px;
  object-fit: cover;
}

.reverse {
  flex-direction: row-reverse;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 40px auto;
  max-width: 1000px;
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.menu-item img {
  width: 200px;
  height: 130px;
  object-fit: cover;
}

.info {
  flex: 1;
  text-align: left;
}

.rating {
  color: goldenrod;
}

input, textarea {
  display: block;
  width: 300px;
  margin: 10px auto;
  padding: 10px;
}

button {
  padding: 10px 20px;
  border: 1px solid #111;
  background: none;
  cursor: pointer;
}

.fade-in { animation: fadeIn 1s ease both; }
.fade-in-delay { animation: fadeIn 1.5s ease both; }
.fade-up { animation: fadeUp 1s ease both; }
.slide-up { animation: slideUp 1s ease both; }

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeUp {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}

@keyframes slideUp {
  from {opacity: 0; transform: translateY(40px);}
  to {opacity: 1; transform: translateY(0);}
}

.hero {
  position: relative;
  height: 90vh;
  background: url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0") center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  color: rgb(34, 12, 12);
  max-width: 700px;
  animation: fadeUp 1.2s ease;
}

.hero-text h1 {
  font-size: 48px;
  letter-spacing: 2px;
}
